# DS 2010 Final Project

## Import Packages

In [2]:
import pandas as pd

## Import Data

In [3]:
covid_19_data = pd.read_csv("data/all-states-history.csv")

anxiety_depression_data = pd.read_csv("data/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days.csv")
# Starts Apr 23, Ends Nov 9


trips_data = pd.read_csv("data/Trips_by_Distance.csv")

## Clean Data

### COVID-19 Data

In [7]:
covid_19_data

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-11-21,AK,A,102.0,102.0,1,NaN,612.0,612.0,129.0,...,918745.0,14033,NaN,NaN,NaN,NaN,NaN,0,918745.0,14033
1,2020-11-21,AL,A,3457.0,3153.0,6,304.0,23449.0,23449.0,1300.0,...,1518186.0,9974,NaN,NaN,69591.0,NaN,NaN,0,1518186.0,9974
2,2020-11-21,AR,A+,2337.0,2141.0,16,196.0,8415.0,8415.0,922.0,...,1580941.0,15068,NaN,21856.0,NaN,116069.0,NaN,0,1580941.0,15068
3,2020-11-21,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1988.0,0,NaN,NaN,NaN,NaN,NaN,0,1988.0,0
4,2020-11-21,AZ,A+,6457.0,5985.0,30,472.0,24181.0,24181.0,1916.0,...,2083643.0,19754,355879.0,NaN,NaN,NaN,2083643.0,19754,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14780,2020-01-24,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
14781,2020-01-23,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,2.0,1,NaN,NaN,NaN,NaN,NaN,0,2.0,1
14782,2020-01-23,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
14783,2020-01-22,MA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,1.0,0,NaN,NaN,NaN,NaN,NaN,0,1.0,1
14784,2020-01-22,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,0.0,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [4]:
anxiety_depression_data

,Phase,Indicator,Group,State,Subgroup,Time Period,Time Period Label,Value,Low CI,High CI,Confidence Interval,Quartile range
0,1,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
1,1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,Apr 23 - May 5,32.7,30.2,35.2,30.2 - 35.2,NaN
2,1,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,Apr 23 - May 5,25.7,24.1,27.3,24.1 - 27.3,NaN
3,1,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,Apr 23 - May 5,24.8,23.3,26.2,23.3 - 26.2,NaN
4,1,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,Apr 23 - May 5,23.2,21.5,25.0,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3832,3,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,18,Oct 28 - Nov 9,36.7,32.7,40.9,32.7 - 40.9,25.5-38.8
3833,3,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,18,Oct 28 - Nov 9,38.8,35.3,42.3,35.3 - 42.3,25.5-38.8
3834,3,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,18,Oct 28 - Nov 9,39.3,32.4,46.5,32.4 - 46.5,38.9-41.6
3835,3,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,18,Oct 28 - Nov 9,39.2,34.2,44.4,34.2 - 44.4,38.9-41.6
3836,3,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,18,Oct 28 - Nov 9,37.0,30.8,43.5,30.8 - 43.5,25.5-38.8

In [5]:
trips_data

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,2020/04/21,1.0,AL,1005.0,Barbour County,3710.0,21171.0,84775.0,17881.0,17606.0,12338.0,15686.0,12859.0,5581.0,2399.0,326.0,92.0,7.0
1,County,2020/04/21,1.0,AL,1007.0,Bibb County,3988.0,18412.0,76633.0,18209.0,16115.0,10313.0,10157.0,11346.0,7691.0,2164.0,261.0,377.0,0.0
2,County,2020/04/21,1.0,AL,1009.0,Blount County,8946.0,48894.0,177929.0,34448.0,34009.0,22149.0,28261.0,30849.0,20219.0,6349.0,1261.0,337.0,47.0
3,County,2020/04/21,1.0,AL,1011.0,Bullock County,1229.0,8909.0,41334.0,9394.0,6803.0,4123.0,8343.0,5915.0,4551.0,1853.0,323.0,0.0,29.0
4,County,2020/04/21,1.0,AL,1013.0,Butler County,3125.0,16555.0,59190.0,12262.0,13525.0,6772.0,8818.0,10032.0,3648.0,2860.0,1225.0,35.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641989,County,2020/11/07,54.0,WV,54087.0,Roane County,3100.0,10832.0,28880.0,2803.0,4252.0,8921.0,3376.0,0.0,7187.0,1294.0,864.0,183.0,0.0
641990,County,2020/11/07,54.0,WV,54085.0,Ritchie County,2607.0,7114.0,16407.0,0.0,6062.0,1127.0,1827.0,1492.0,4581.0,480.0,838.0,0.0,0.0
641991,County,2020/11/07,54.0,WV,54083.0,Randolph County,7404.0,21419.0,88382.0,20005.0,24161.0,10474.0,8212.0,13912.0,5915.0,4545.0,1082.0,0.0,76.0
641992,County,2020/11/07,54.0,WV,54081.0,Raleigh County,19512.0,54742.0,250590.0,56786.0,85222.0,36841.0,29606.0,26634.0,8590.0,4236.0,2066.0,573.0,36.0
641993,County,2020/11/07,54.0,WV,54079.0,Putnam County,14697.0,41985.0,133898.0,23410.0,30111.0,17404.0,18420.0,29609.0,10737.0,1414.0,2352.0,420.0,21.0