# DS 2010 Final Project

## Import Packages

In [1]:
import pandas as pd
import math
import numpy as np
import datetime as dt

## Import Data

In [2]:
covid_19_data = pd.read_csv("Raw_Data/all-states-history-correct-range.csv")

# Starts Apr 23, Ends Nov 9
anxiety_depression_data = pd.read_csv("Raw_Data/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days.csv")

trips_data = pd.read_csv("Raw_Data/Trips_by_Distance.csv")

## Clean trip data

In [3]:
td = trips_data.groupby(by = ['Date', 'State Postal Code']).sum().drop(columns= ['State FIPS', 'County FIPS']).reset_index()
td['Period'] = np.floor(td.index / 51 / 7)
td2 = td.groupby(by = ['Period', 'State Postal Code']).sum().reset_index()

td2["Period"] = td2["Period"] - 1
td2.loc[td2["Period"] == -1,"Period"] = 0
# Index 1-11 are 1 week
# Index 12-16 are break
for i in range(12, 17):
    td2.loc[td2["Period"] == i,"Period"] = 12

# Index 17|18, 19|20, 21|22, 23|24, 25|26, 27|28 are one time period
period = 13
for i in range(0, 12, 2):
    week = i + 17
    td2.loc[td2["Period"] == week,"Period"] = period
    td2.loc[td2["Period"] == week + 1,"Period"] = period
    period += 1

td2 = td2.groupby(by= ["Period", "State Postal Code"]).sum().reset_index()
td2 = td2[td2['Period'] != 12.0]

td2['Period'] = td2.apply(lambda x:
                        x['Period']+1
                        if x['Period'] < 12 
                        else
                        x['Period'], axis=1)

trip_df = td2.copy()

trip_df['State'] = trip_df['State Postal Code']
trip_df = trip_df.drop('State Postal Code', axis=1)

In [4]:
trip_df

,Period,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,State
0,1.0,6307163.0,14287547.0,5.850097e+07,17576261.0,16495524.0,7496209.0,7903468.0,5709323.0,2317707.0,704279.0,187326.0,40494.0,70378.0,AK
1,1.0,28041066.0,108819322.0,4.022133e+08,90141352.0,101341754.0,54003092.0,64762466.0,60915550.0,20594042.0,7174644.0,2636396.0,545014.0,98992.0,AL
2,1.0,17585588.0,66801512.0,2.502319e+08,58626768.0,65947140.0,31781426.0,38396070.0,35735626.0,12471888.0,4908546.0,1917546.0,379184.0,67724.0,AR
3,1.0,56746120.0,144059968.0,5.123756e+08,146357458.0,124083598.0,58454178.0,70934148.0,74330274.0,24290644.0,8272018.0,4563512.0,755708.0,334094.0,AZ
4,1.0,317664842.0,789932418.0,2.593218e+09,688818389.0,684687597.0,296317707.0,356772431.0,357125194.0,137654612.0,48995443.0,17590719.0,3890374.0,1365278.0,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,18.0,1710704.0,4552286.0,1.891188e+07,3580023.0,4869895.0,2370965.0,2802106.0,3220018.0,1481427.0,425442.0,130816.0,25535.0,5657.0,VT
965,18.0,22115955.0,53239955.0,2.079825e+08,49296205.0,51810385.0,24247099.0,31877740.0,33102683.0,12089961.0,3757935.0,1387603.0,252533.0,160383.0,WA
966,18.0,16270289.0,41865391.0,1.694443e+08,36086818.0,44652004.0,21050210.0,25669560.0,24945273.0,9845169.0,4641455.0,2139162.0,341154.0,73481.0,WI
967,18.0,5046710.0,13011610.0,5.215250e+07,10282657.0,14230649.0,6453695.0,7797154.0,7812684.0,3254869.0,1687553.0,540366.0,81466.0,11407.0,WV
968,18.0,1667479.0,4109891.0,1.658944e+07,3719382.0,4747586.0,2255433.0,1735804.0,1864603.0,1283667.0,632645.0,295090.0,47250.0,7979.0,WY

## Clean COVID-19 Data

In [5]:
# KEEP:
# DC: District of Columbia

# REMOVE:
# AS: American Samoa
# PR: Puerto Rico
# GU: Guam
# MP: Northern Mariana Islands
# VI: US Virgin Islands
remove_states = ['AS', 'PR', 'GU', 'MP', 'VI']

### prepare covid data

In [6]:
valuable_cols = ['state', 'date', 'death', 'deathConfirmed', 
                 'hospitalizedCurrently', 'positiveCasesViral', 
                 'positiveIncrease', 'totalTestsPeopleViral', 
                 'totalTestsPeopleViralIncrease', 'totalTestsViral']

In [7]:
# Remove undesired columns
covid_data = covid_19_data.copy()[valuable_cols]
# Convert string to datetime
covid_data['date'] = covid_data['date'].astype('datetime64[ns]')
# Convert target_ranges to list of

### create Time Period column

In [8]:
ranges_list = ['4/23/2020-5/5/2020', '5/7/2020-5/12/2020', '5/14/2020-5/19/2020', '5/21/2020-5/26/2020',
               '5/28/2020-6/2/2020', '6/4/2020-6/9/2020', '6/11/2020-6/16/2020', '6/18/2020-6/23/2020',
               '6/25/2020-6/30/2020', '7/2/2020-7/7/2020', '7/9/2020-7/14/2020', '7/16/2020-7/21/2020',                  
               '8/19/2020-8/31/2020', '9/2/2020-9/14/2020', '9/16/2020-9/28/2020', '9/30/2020-10/12/2020', 
               '10/14/2020-10/26/2020', '10/28/2020-11/9/2020']

# Convert ranges_list to a list of lists of start and end datetimes
period_list = []
for r in ranges_list:
    r_list = []
    for date_str in r.split('-'):
        date = dt.datetime.strptime(date_str, '%m/%d/%Y').date()
        r_list.append(date)
    period_list.append(r_list)

# Create Time Period column
time_periods = [] # -1: before first period | -2: after last period | 0-n: respective period
for index, row in covid_data.iterrows():
    true_period = np.NaN
    if row['date'] < period_list[0][0]:
        true_period = -1
    elif row['date'] > period_list[-1][-1]:
        true_period = -2
    else:
        for period in period_list:
            if period[0] <= row['date'] <= period[1]:
                true_period = period_list.index(period) + 1
    time_periods.append(true_period)

# Add Time Period column to covid_data
covid_data['Period'] = time_periods

# Make a copy before cleaning
data = covid_data.copy()

# Remove rows with invalid time periods
data.drop(data.loc[data['Period'] == -1].index, inplace=True)
data.drop(data.loc[data['Period'] == -2].index, inplace=True)
data.drop(data.loc[data['Period'] == np.NaN].index, inplace=True)

In [9]:
states = list(set(data['state'].values))
final_states = [item for item in states if item not in remove_states]
len(final_states)

51

### Fill NaN and groupby Time Period for each state

In [10]:
clean_data = []

data["death"] = data[["death", "deathConfirmed"]].max(axis=1)
data["positiveCasesViral"] = data[["positiveCasesViral", "totalTestsViral", "totalTestsPeopleViral"]].max(axis=1)
clean_df = data.drop(columns=["deathConfirmed", "totalTestsViral", "totalTestsPeopleViral"])

for state in final_states:
    state_data = clean_df.loc[clean_df['state'] == state]
    state_data = state_data.groupby(['Period', 'state']).mean().reset_index()
    clean_data.append(state_data)
    
clean_df = pd.concat(clean_data)
clean_df = clean_df.dropna()
covid_df = clean_df.copy()

covid_df['State'] = covid_df['state']
covid_df = covid_df.drop('state', axis=1)

In [11]:
covid_df.to_csv("Clean_Data/clean_covid_data.csv", index= False)

In [12]:
covid_df

,Period,death,hospitalizedCurrently,positiveCasesViral,positiveIncrease,totalTestsPeopleViralIncrease,State
0,1.0,40.230769,87.846154,2.680185e+04,23.000000,0.000000,WV
1,2.0,53.333333,57.000000,6.152267e+04,20.500000,0.000000,WV
2,3.0,64.666667,52.333333,7.347250e+04,18.500000,0.000000,WV
3,4.0,71.833333,37.666667,8.525733e+04,51.500000,0.000000,WV
4,5.0,75.000000,32.666667,9.654217e+04,29.000000,0.000000,WV
...,...,...,...,...,...,...,...
13,14.0,1186.076923,302.615385,1.317321e+06,1068.692308,7943.230769,WI
14,15.0,1264.153846,469.384615,1.456634e+06,2098.384615,11318.153846,WI
15,16.0,1413.076923,800.307692,1.622942e+06,2589.769231,12627.307692,WI
16,17.0,1675.846154,1169.230769,1.858332e+06,3705.307692,20501.230769,WI
17,18.0,2190.384615,1665.769231,2.101263e+06,5303.923077,15601.461538,WI

## Clean Anxiety/Depression Data

In [13]:
data = anxiety_depression_data.copy()

In [14]:
# Remove uneeded rows and columns
clean_data = data.loc[data['State'] != 'United States']
clean_data = clean_data.drop(['Phase', 'Group', 'Subgroup', 'Time Period Label',
                             'Low CI', 'High CI', 'Confidence Interval', 'Quartile range'], axis=1)

# Break each target into a dataframe
depression_data = clean_data.loc[clean_data['Indicator'] == 'Symptoms of Depressive Disorder']
anxiety_data = clean_data.loc[clean_data['Indicator'] == 'Symptoms of Anxiety Disorder']
both_data = clean_data.loc[clean_data['Indicator'] == 'Symptoms of Anxiety Disorder or Depressive Disorder']

# Merge each target into one dataframe on State and Time Period  
merged_data = pd.merge(depression_data, anxiety_data, on=['State', 'Time Period'])
merged_data = pd.merge(merged_data, both_data, on=['State', 'Time Period'])

# Clean final dataframe
merged_data = merged_data.drop(['Indicator_x', 'Indicator_y', 'Indicator'], axis=1)
merged_data.columns = ['State', 'Period', 'Depression_Score', 'Anxiety_Score', 'Mix_Score']

In [15]:
# Dictionary of states, used to change name -> acronym
states_hash ={
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Federated States Of Micronesia': 'FM',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Marshall Islands': 'MH',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands': 'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'}

In [16]:
# Change state name into acronym
merged_data['State'] = merged_data.apply(lambda x: states_hash[x['State']], axis=1)

In [17]:
label_df = merged_data.copy()

In [18]:
label_df.to_csv("Clean_Data/clean_label_data.csv", index= False)

# Merge datasets

In [19]:
label_df

    State  Period  Depression_Score  Anxiety_Score  Mix_Score
0      AL       1              18.6           25.6       30.3
1      AK       1              19.2           27.7       31.5
2      AZ       1              22.4           32.3       36.4
3      AR       1              26.6           33.7       38.0
4      CA       1              25.4           30.8       37.4
..    ...     ...               ...            ...        ...
913    VA      18              24.0           30.5       36.7
914    WA      18              24.4           34.7       38.8
915    WV      18              25.7           35.7       39.3
916    WI      18              27.0           36.0       39.2
917    WY      18              23.5           30.0       37.0

[918 rows x 5 columns]

In [20]:
covid_df

,Period,death,hospitalizedCurrently,positiveCasesViral,positiveIncrease,totalTestsPeopleViralIncrease,State
0,1.0,40.230769,87.846154,2.680185e+04,23.000000,0.000000,WV
1,2.0,53.333333,57.000000,6.152267e+04,20.500000,0.000000,WV
2,3.0,64.666667,52.333333,7.347250e+04,18.500000,0.000000,WV
3,4.0,71.833333,37.666667,8.525733e+04,51.500000,0.000000,WV
4,5.0,75.000000,32.666667,9.654217e+04,29.000000,0.000000,WV
...,...,...,...,...,...,...,...
13,14.0,1186.076923,302.615385,1.317321e+06,1068.692308,7943.230769,WI
14,15.0,1264.153846,469.384615,1.456634e+06,2098.384615,11318.153846,WI
15,16.0,1413.076923,800.307692,1.622942e+06,2589.769231,12627.307692,WI
16,17.0,1675.846154,1169.230769,1.858332e+06,3705.307692,20501.230769,WI
17,18.0,2190.384615,1665.769231,2.101263e+06,5303.923077,15601.461538,WI

In [21]:
trip_df

,Period,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,State
0,1.0,6307163.0,14287547.0,5.850097e+07,17576261.0,16495524.0,7496209.0,7903468.0,5709323.0,2317707.0,704279.0,187326.0,40494.0,70378.0,AK
1,1.0,28041066.0,108819322.0,4.022133e+08,90141352.0,101341754.0,54003092.0,64762466.0,60915550.0,20594042.0,7174644.0,2636396.0,545014.0,98992.0,AL
2,1.0,17585588.0,66801512.0,2.502319e+08,58626768.0,65947140.0,31781426.0,38396070.0,35735626.0,12471888.0,4908546.0,1917546.0,379184.0,67724.0,AR
3,1.0,56746120.0,144059968.0,5.123756e+08,146357458.0,124083598.0,58454178.0,70934148.0,74330274.0,24290644.0,8272018.0,4563512.0,755708.0,334094.0,AZ
4,1.0,317664842.0,789932418.0,2.593218e+09,688818389.0,684687597.0,296317707.0,356772431.0,357125194.0,137654612.0,48995443.0,17590719.0,3890374.0,1365278.0,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,18.0,1710704.0,4552286.0,1.891188e+07,3580023.0,4869895.0,2370965.0,2802106.0,3220018.0,1481427.0,425442.0,130816.0,25535.0,5657.0,VT
965,18.0,22115955.0,53239955.0,2.079825e+08,49296205.0,51810385.0,24247099.0,31877740.0,33102683.0,12089961.0,3757935.0,1387603.0,252533.0,160383.0,WA
966,18.0,16270289.0,41865391.0,1.694443e+08,36086818.0,44652004.0,21050210.0,25669560.0,24945273.0,9845169.0,4641455.0,2139162.0,341154.0,73481.0,WI
967,18.0,5046710.0,13011610.0,5.215250e+07,10282657.0,14230649.0,6453695.0,7797154.0,7812684.0,3254869.0,1687553.0,540366.0,81466.0,11407.0,WV
968,18.0,1667479.0,4109891.0,1.658944e+07,3719382.0,4747586.0,2255433.0,1735804.0,1864603.0,1283667.0,632645.0,295090.0,47250.0,7979.0,WY

In [28]:
# covid_df.join(trip_df, on=['Period', 'State'], how='left')
result = pd.merge(covid_df, trip_df, on=['Period', 'State'])
result = pd.merge(result, label_df, on=['Period', 'State'])

In [30]:
columns = ['Period', 'State', 'death', 'hospitalizedCurrently', 'positiveCasesViral',
       'positiveIncrease', 'totalTestsPeopleViralIncrease',
       'Population Staying at Home', 'Population Not Staying at Home',
       'Number of Trips', 'Number of Trips <1', 'Number of Trips 1-3',
       'Number of Trips 3-5', 'Number of Trips 5-10', 'Number of Trips 10-25',
       'Number of Trips 25-50', 'Number of Trips 50-100',
       'Number of Trips 100-250', 'Number of Trips 250-500',
       'Number of Trips >=500', 'Depression_Score', 'Anxiety_Score',
       'Mix_Score']

In [29]:
result

,Period,death,hospitalizedCurrently,positiveCasesViral,positiveIncrease,totalTestsPeopleViralIncrease,State,Population Staying at Home,Population Not Staying at Home,Number of Trips,...,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Depression_Score,Anxiety_Score,Mix_Score
0,1.0,40.230769,87.846154,2.680185e+04,23.000000,0.000000,WV,13709390.0,36853906.0,149642038.0,...,23164902.0,21476804.0,7724498.0,2789572.0,991044.0,146924.0,47520.0,23.4,28.8,34.3
1,2.0,53.333333,57.000000,6.152267e+04,20.500000,0.000000,WV,6243326.0,19038322.0,80794954.0,...,12726460.0,11691296.0,4163946.0,1555816.0,563104.0,78598.0,23300.0,31.8,34.6,39.0
2,3.0,64.666667,52.333333,7.347250e+04,18.500000,0.000000,WV,5424742.0,19856906.0,88277378.0,...,13475366.0,12586128.0,4672558.0,1756824.0,673712.0,99394.0,24586.0,27.0,29.3,34.3
3,4.0,71.833333,37.666667,8.525733e+04,51.500000,0.000000,WV,5271320.0,20010328.0,86776538.0,...,13721262.0,12345384.0,4535268.0,1765566.0,732442.0,108326.0,39000.0,22.0,34.5,37.9
4,5.0,75.000000,32.666667,9.654217e+04,29.000000,0.000000,WV,5830684.0,19450964.0,85642592.0,...,12956516.0,11962552.0,4458914.0,1767042.0,739766.0,115282.0,18810.0,26.2,33.6,38.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,14.0,1186.076923,302.615385,1.317321e+06,1068.692308,7943.230769,WI,40916918.0,121862986.0,472874957.0,...,72625478.0,77518010.0,31478005.0,12768399.0,6614838.0,1180440.0,531483.0,19.3,27.5,31.3
867,15.0,1264.153846,469.384615,1.456634e+06,2098.384615,11318.153846,WI,39926881.0,122853023.0,464683933.0,...,71789781.0,76926843.0,31452257.0,12793303.0,5656345.0,795544.0,201177.0,19.4,28.4,30.8
868,16.0,1413.076923,800.307692,1.622942e+06,2589.769231,12627.307692,WI,40647754.0,122132150.0,452979713.0,...,70097746.0,75059843.0,31260838.0,13681590.0,5825515.0,827719.0,178233.0,21.6,30.7,34.5
869,17.0,1675.846154,1169.230769,1.858332e+06,3705.307692,20501.230769,WI,41114117.0,121665787.0,479219062.0,...,73155927.0,75151546.0,30615582.0,12784536.0,5310394.0,770925.0,173552.0,22.7,32.1,36.0
870,18.0,2190.384615,1665.769231,2.101263e+06,5303.923077,15601.461538,WI,16270289.0,41865391.0,169444286.0,...,25669560.0,24945273.0,9845169.0,4641455.0,2139162.0,341154.0,73481.0,27.0,36.0,39.2